.card {
  position: relative;
  border-radius: 18px;
  background: #101425;
  overflow: hidden;
  display: grid;
  place-items: center;
  cursor: pointer;
  user-select: none;
}

.link {
  position: relative;
  z-index: 2;
  color: #fff;
  font: 700 18px/1.1 system-ui;
  text-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.svg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.path {
  fill: #ff2d2d;
  will-change: d;
}
